#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ~="cd ~" # `cd` is probably faster to type though

# Common helpers
alias copyssh="pbcopy < $HOME/.ssh/id_rsa.pub"
alias c="clear"

# Directories
alias dotfiles="cd ~/dotfiles"

# Clarkson Gulp 
alias watch="./node_modules/bin/gulp watch"


# Vagrant
alias v="vagrant global-status"
alias vup="vagrant up"
alias vhalt="vagrant halt"
alias vssh="vagrant ssh"
alias vreload="vagrant reload"

# Git
alias gnuke="git clean -df && git reset --hard"