<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.destroytoday.alfred.gif</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07D3EDDB-A19B-4301-905D-994C2C291534</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jonnie Hallman</string>
	<key>description</key>
	<string>filter Dropbox folder for GIFs and copying public URL to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GIF filter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>gif</string>
				<key>scopes</key>
				<array>
					<string>~/Dropbox/Public/gifs</string>
				</array>
				<key>title</key>
				<string>gif</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>dropbox_url="http://dl.dropboxusercontent.com/u/121678/gifs/"
echo -ne ${dropbox_url}$(basename {query}) | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>07D3EDDB-A19B-4301-905D-994C2C291534</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07D3EDDB-A19B-4301-905D-994C2C291534</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>FF8E3BE3-2E94-4801-8A01-9AA8DE17340B</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://destroytoday.com</string>
</dict>
</plist>
